<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <springProperty scope="context" name="AppName" source="spring.application.name" defaultValue=""/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProfile name="dev,stg,uat,prd">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <logger name="com.nicico" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>

    </springProfile>
    <springProfile name="prd">
        <property name="LOG_FILE" value="/var/log/nicico/${AppName}.log"/>

        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>

            <file>${LOG_FILE}</file>

            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
                <maxHistory>3</maxHistory>
                <maxFileSize>2MB</maxFileSize>
            </rollingPolicy>
        </appender>

        <logger name="com.nicico" level="INFO" additivity="false">
            <appender-ref ref="FILE"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
</configuration>
